
{% extends "base.html" %}
{% load static %}

{% block image_contant %}
    <h1>This is home</h1>
    <img src="static/bird_1.jpg">
    <img src="{% static "bird_1.jpg" %}">
    <img src="{% static "bird_3.jpg" %}">
    <img src="static/bird_3.jpg">
{% endblock image_contant %}


{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home</h1>
    <img src="static/bird_1.jpg">
    <img src="{% static "bird_1.jpg" %}">
    <img src="{% static "bird_3.jpg" %}">
    <img src="static/bird_3.jpg">
    
    
</body>
</html> {% endcomment %}