{% extends "base.html" %}

{% load static %}
{% block contant_box %}
<div class="d-flex justify-content-evenly p-5 m-4">
    <div class="col-6 text-center">
        <h2 class="text-warning">Welcome to Car Mat <br>Your Trusted Destination for Quality Vehicles</h2>
        <p class="fw-semibold fs-5">
        At Car Mat, we pride ourselves on offering an exceptional car-buying experience tailored
        to your needs. Whether you're looking for a reliable family car, a sleek sports model, 
        or a fuel-efficient commuter, our wide selection of vehicles ensures you'll find the perfect
        match. With a commitment to transparency, customer satisfaction, and top-notch service,
        Car Mat is where your journey to owning a new car begins. Explore our inventory,
        discover unbeatable deals, and drive away with confidence today.
        </p>
    </div>
    <div class="col-5 text-center">
        <img src="{% static "lexus_ux_300h_f_sport_2024-t2.jpg" %}"class="rounded-5" style="width:100%; height:100%"alt="...">
    </div>
</div>

<div class="d-flex justify-content-evenly m-5">
    <a href="{% url "homepage" %}" class="btn btn-danger" >All</a>
    {% for b in brand %}
        <div>
            <a href="{% url "brand_wise_car_page" b.slug %}" class="btn btn-warning" >{{b.name}}</a>
        </div>
    {% endfor %}
</div>

<div class="m-5">
    <h2 class="btn btn-light fw-bold fs-5">Total Car Found: {{car|length}}</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    {% if car %}
    {% for c in car %}
        {% if c.quantity > 0 %}
        <div class="col">
            <div class="card">
            <img src="{{c.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{c.name}}</h4>
                <h5 class="card-title">{{c.brand.name}}</h5>
                <p class="card-text">{{c.description|truncatewords:20}}</p>
                <h6 class="card-title">Price: {{c.price}}K $</h6>
                {% if request.user.is_authenticated %}
                    <p class="card-text text-center">
                        <a href="{% url "detailspage" c.id %}" class="btn btn-warning">View Details</a>
                    </p>
                {% endif %}
            </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% else %}
        <h3> Not Available Car for sales </h3>
    {% endif %}
  </div>

{% endblock contant_box %}